body {
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #81c6c3;
    margin: auto;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.header {
    padding: 0.9rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.header-title {
    color: #bc0124;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.2rem;
}

.header-subtitle {
    color: #1d6765;
    font-size: 1.2rem;
    font-weight: 588;
    margin-bottom: 0.9rem;
}

.column-1 {
    background-color: #ed2c39;
    width: 50%;
    padding: 1.2rem;
    color: #fff;
}

.column-2 {
    background-color: #8a56ee;
    width: 50%;
    padding: 0.6rem 1.2rem;
    color: #fff;
}

.monthly-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.price {
    font-size: 1.6rem;
    font-weight: 700;
}

.how-time {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 0.5rem;
}

.infos-pay {
    margin-top: 1.2rem;
}

button {
    width: 100%;
    padding: 0.9rem 2rem;
    color: #ed2c39;
    background-color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-top: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #81c6c3;
}

.vant-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.sub-img {
  text-align: center;
}

.flex-container-register {
    display: flex;
    background-color: #ed2c39;
}

a {
    color: #81c6c3;
    font-size: 0.8rem;
    text-align: center;
    margin: 0.5rem;
}

input {
    margin: 0.5rem;
    padding: 0.9rem;
    border-radius: 0.4rem;
    width: 95%;
    height: 1.3rem;
    font-size: 1.2rem;
    border: 0;
}

input:focus{
    outline: none;
    box-shadow: 0 0 5px black;
}
.form-register {
    background-color: #006A6A;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media  screen and (max-width: 620px) {
   html {
    font-size: 14px;
   } 

   .flex-container {
    flex-direction: column;
   }

   .column-1, .column-2 {
    width: 100%;
    box-sizing: border-box;
   }

   .container {
    width: 95%;
   }
   .header {
    padding: 15px;
   }
}